<div class="intro bgmove bgmove--reverse">
    <h1 class="intro__title title">
        <span class="intro__title-txt">{{ trad.intro.title }}</span>
    </h1>

    <div class="intro__promo">
        <div class="intro__promo-head">
            <h2 class="intro__promo-title">{{ trad.intro.promo.offer }}</h2>
        </div>
        <div class="intro__promo-content titlearea">
            <p class="intro__promo-intro titlearea__intro">{{ trad.intro.promo.intro }}</p>
            <p class="intro__promo-txt bordered titlearea__title">
                <span class="titlearea__title-txt">{{ trad.intro.promo.txt }}</span>
            </p>
            <p class="intro__promo-stories titlearea__sub">
                <a href="{{ trad.intro.promo.story1_url }}" class="intro__promo-story intro__promo-story--1 event" data-label="EXIT_{{ trad.intro.promo.story1 }}" data-event="TagEvent::Exit" target="_blank">{{ trad.intro.promo.story1 }}</a>
                <span class="intro__promo-and">{{ trad.intro.promo._and }}</span>
                <a href="{{ trad.intro.promo.story2_url }}" class="intro__promo-story intro__promo-story--2 event" data-label="EXIT_{{ trad.intro.promo.story2 }}" data-event="TagEvent::Exit" target="_blank">{{ trad.intro.promo.story2 }}</a>
            </p>

            <a href="#" class="intro__cta btn scrollTo event" data-label="{{ trad.intro.cta }}" data-event="TagEvent::Page" data-scroll=".rooms">{{ trad.intro.cta }}</a>
        </div>
    </div>
</div>

<div class="rooms">
    <div class="rooms__slider responsive">
        {% for room in trad.rooms %}
        <div class="rooms__slide rooms__slide--{{ loop.index }}" style="background-image: url('img/room-{{ loop.index }}.jpg')">
            <a href="{{ room.link }}" class="rooms__link event" data-label="EXIT_{{ room.title }}" data-event="TagEvent::Exit" target="_blank">
                <span class="rooms__cta rooms__cta--{{ loop.index }} btn btn--reverse">{{ room.title }}</span>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="rooms__living bgmove bgmove--reverse">
        <div class="rooms__living-content">
            <p class="rooms__living-txt">{{ trad.living.txt }}</p>
            <a href="{{ trad.living.cta_url }}" class="rooms__living-cta btn event" data-label="EXIT_{{ trad.living.cta }}" data-event="TagEvent::Exit" target="_blank">{{ trad.living.cta }}</a>
        </div>
    </div>
</div>

<div class="collec">
    <div class="titlearea">
        <p class="titlearea__intro">{{ trad.collec.intro }}</p>
        <p class="bordered titlearea__title">
            <span class="titlearea__title-txt">{{ trad.collec.title }}</span>
        </p>
    </div>

    <div class="collec__slider responsive">
        {% for collec in trad.collec.slider %}
            <div class="collec__slide collec__slide--{{ loop.index }}" style="background-image: url('img/collection-{{ loop.index }}.jpg')" data-title="{{ collec.title }}" data-url="{{ collec.link }}">
                {#<h2 class="collec__slide-title" data-pos="100">{{ collec.title }}</h2>#}
                <a href="{{ collec.link }}" class="collec__link event" data-label="EXIT_{{ collec.title }}" data-event="TagEvent::Exit" target="_blank">
                    <span class="collec__cta btn">{{ collec.title }}</span>
                </a>
            </div>

        {% endfor %}
    </div>

    <div class="collec__buttons">
    {% for collecButtons in trad.collec.slider %}
        <div class="collec__buttons-col collec__buttons-col--{{ loop.index0 }} {% if loop.first %} on{% endif %}">
            <a class="collec__buttons-cta btn event" data-label="EXIT_{{ collecButtons.title }}" data-event="TagEvent::Exit" target="_blank" href="{{ collecButtons.link }}">{{ collecButtons.title }}</a>
        </div>
    {% endfor %}
    </div>
</div>

<div id="vid" class="vid">
    <div class="titlearea">

        <p class="bordered titlearea__title">
            <span class="titlearea__title-txt">{{ trad.video.title }}</span>
        </p>
        <p class="titlearea__sub">{{ trad.video.sub }}</p>
    </div>

    <div class="video event" data-label="video{{ loop.index }}" data-event="TagEvent::Page">
        <div id="player" class="player"></div>
        <a id="playvideo" class="playbutton" href="#" data-target="{{ loop.index-1 }}"></a>
    </div>


    <script>

        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '360',
                width: '640',
                videoId: '97UYWve1HKI',
                loop: 1,
                playerVars: {
                    'autoplay': 0,
                    'controls': 1,
                },
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }

        function onPlayerReady(event) {
            //event.target.playVideo();
        }

        var done = false;
        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                //setTimeout(stopVideo, 6000);
                //done = true;
            }

            if (event.data != YT.PlayerState.PLAYING) {
                onPausing()
            }else {
                document.getElementById("vid").classList.add('is-playing')
            }

            if(event.data === 0) {
                document.getElementById("vid").classList.remove('is-playing')
                stopVideo()
            }
        }
        function playVideo() {
            player.playVideo();
        }

        function stopVideo() {
            player.stopVideo();
        }

        function onPausing(videoId) {
            //alert('pausing');
            document.getElementById("vid").classList.remove('is-playing')
            playing = false;
        }

        document.getElementById("playvideo").addEventListener("click", function(e) {
            e.preventDefault();
            document.getElementById("vid").classList.add('is-playing')
            player.playVideo();

        });

        {#
        document.getElementById("playvideo1").addEventListener("click", function(e) {
            e.preventDefault();
            players[0].playVideo();
            document.getElementById("vid").classList.add('is-playing')
        });

        function onPlaying(videoId) {
            console.log('videoId', videoId);
            //alert('playing');
            //document.getElementById("vid").classList.add('is-playing')
            playing = true;
        }

        function onPausing(videoId) {
            //alert('pausing');
            //document.getElementById("vid").classList.remove('is-playing')
            playing = false;
        }

        function onStopped(videoId) {
            alert('stoping');
            document.getElementById("vid").classList.remove('is-playing')
            playing = false;
        }
        #}



    </script>

    <p class="vid__txt">{{ trad.video.txt }}</p>
</div>

{% include "../block/marketing.html.twig" %}

<div class="mentions">
    <p class="mentions__txt">{{ trad.mentions }}</p>
</div>
