<div class="screen screen--5 sendmail">

    <p class="sendmail__txt txt">{{ trad.sendmail.txt }}</p>

    <form class="sendmail__form form" action="#" method="post">
        <fieldset class="sendmail__fieldset form__fieldset">

            <div class="form__inner">
                <h3 class="sendmail__form-title title">{{ trad.form.title }}</h3>

                <div class="form__field">
                <span class="form__inputwrap form__inputwrap--text">
                    <label class="form__label txt" for="lastname">{{ trad.form.lastname }}</label>
                    <input id="lastname" class="sendmail__input form__input form__input--text" type="text" />
                </span>
                </div>

                <div class="form__field">
                <span class="sendmail__inputwrap form__inputwrap form__inputwrap--text">
                    <label class="form__label txt" for="firstname">{{ trad.form.firstname }}</label>
                    <input id="firstname" class="sendmail__input form__input form__input--text" type="text" />
                </span>
                </div>

                <div class="form__field">
                <span class="sendmail__inputwrap form__inputwrap form__inputwrap--text">
                    <label class="form__label txt" for="mail">{{ trad.form.mail }}</label>
                    <input id="mail" class="sendmail__input form__input form__input--text" type="text" />
                </span>
                </div>

                <div class="form__field form__field--check">
                <span class="form__inputwrap form__inputwrap--check">
                    <label class="form__label txt">{{ trad.form.optin_rules }}</label>
                    <input id="rules" class="form__input form__input--checkbox mandatory counted event" type="checkbox" data-label="optin_rules" data-event="TagEvent::Page" value="false" />
                </span>
                </div>

                <div class="form__field form__field--check">
                <span class="form__inputwrap form__inputwrap--check">
                    <label class="form__label txt">{{ trad.form.optin_offers }}</label>
                    <input id="offers" class="form__input form__input--checkbox mandatory counted event" type="checkbox" data-label="optin_offers" data-event="TagEvent::Page" value="false" />
                </span>
                </div>

                <div class="form__field form__field--submit">
                <span class="form__inputwrap form__inputwrap--submit form__inputwrap--disabled">
                    <span class="form__input form__input--submit btn btn--simple event" data-label="jwalker2_submit" data-event="TagEvent::Page">{{ trad.form.submit }}</span>
                </span>
                </div>
            </div>

            <div class="form__result">
                <p class="form__result-txt txt">{{ trad.form.result }}</p>
            </div>



        </fieldset>
    </form>

</div>