<header class="header-dev header-dev--closed">
    <div class="header-dev__content">
        <h3 class="header-dev__title">devToolbar //</h3>
        <div class="header-dev__btn">
            <button class="header-dev__swap">SWAP</button>
            <button class="header-dev__mixpanel">MIXPANEL</button>
            <button class="header-dev__tracking">TRACKING</button>
            <button class="header-dev__open-app">APP VP</button>
        </div>
        <p class="header-dev__close">Close X</p>
    </div>
</header>

<div class="app-popin app-popin--closed">
    <div class="app-popin__content">
        <p class="app-popin__txt">Ouvrir le mini site dans l'app VP ?</p>
        <div>
            <span class="btn app-popin__btn app-popin__btn--cancel js-close-app-popin">Annuler</span>
            <span class="btn app-popin__btn app-popin__btn--ok js-open-app">Oui</span>
        </div>
    </div>
</div>
