<header class="header">

    <a href="https://secure.fr.vente-privee.com/ns/fr-fr/home/default" class="header__back-to-vp event"
       data-event="TagEvent::Exit" data-label="Back to VP">
        <img src="./img/back-to-vp.png" alt="Retourner sur vente-privee">
    </a>


</header>
