<div class="fixable">
    <div class="marketing js-waypoint-wrapper">
        <div class="marketing__wrapper js-waypoint-content">
            <div class="marketing__inner">
                <div class="marketing__txt">
                    <p class="marketing__txt--1">{{ trad.marketing.txt1 }}</p>
                </div>

                <a target="_blank" href="{{ trad.marketing.cta_url }}" class="marketing__cta btn btn--reverse event" data-event="TagEvent::Exit" data-label="Marketing_{{ trad.marketing.cta }}">{{ trad.marketing.cta }}</a>
            </div>
        </div>
    </div>
</div>
