<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ config.operation.titre }}</title>

<meta name="author" content="vente-privee.com" />
<meta name="description" content="{{ config.operation.description }}" />

<meta property="og:site_name" content="">
<meta property="og:url" content="{{ config.url.secure ~ config.operation.code }}/{% if isMulti %}index_{{ lang }}.html{% else %}index.html{% endif %}">
<meta property="og:title" content="{{ config.operation.titre }}">
<meta property="og:description" content="{{ config.operation.description }}">
<meta property="og:image" content="img/facebook_{{ lang }}.png">
<meta property="og:type" content="website">

<link rel="stylesheet" href="css/theme-{% if theme != 'default' %}{{ theme }}{% else %}default{% endif %}.css" />

{% if structure != 'default' %}<link rel="stylesheet" href="css/{{ structure }}.css" />{% endif %}

<script>
    var config = {{ config | json_encode }}
    var trad = {{ trad | json_encode }};
</script>

<script>
    var urlo = window.location.href,
        urlo1 = urlo.substr(0,9),
        urlo2 = urlo.substr(0,16),
        localhost = "http://localhost",
        token = "",
        df = "http://df",
        ip = "http://10";

    if (urlo1 === df ||  urlo2 === localhost || urlo1 === ip) {
        token = "{{ config.mixpanel.preprod.token }}";
        apiHost = "{{ config.mixpanel.preprod.apiHost }}";
    } else {
        token = "{{ config.mixpanel.prod.token }}";
        apiHost = "{{ config.mixpanel.prod.apiHost }}";
    }

    (function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
        0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);

    mixpanel.init(token,{api_host:apiHost,disable_notifications:true,autotrack:false,track_pageview:false});

</script>
