/*SPECIFIC STYLE*/

html,body{
  /*******NE PAS RETIRER********/
  max-width: 100vw;
  /*****************************/

  font-family: $t-text;
}

body {
  text-align: center;
  background-color: $c-theme2;
  font-family: $t-text;

  &:not(.unlogged) {
    .loader {
      opacity: 1 !important;
    }
  }
}

.bodyWrapper {
  opacity: 1;

  .unlogged & {
    opacity: 0;
  }
}

.bordered {

}

.titlearea {
  position: relative;
  padding: 20px 0;
  font-size: 4vw;

  @include breakpoint($b-tab-desk) {
    font-size: 1vw;
  }

  &__intro {
    padding: 0 0 5px;
  }

  &__title {
    position: relative;
    font-family: $t-title;
    color: $c-theme;
    font-weight: bold;

    //background-color: $c-complement;


    &::before,
    &::after {
      transition: width 1s;
      transition-delay: .5s;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 3px;
      background-color: $c-theme;

      .anim &  {
        width: 75%;

        @include breakpoint($b-tab-desk) {
          width: 65%;
        }
      }


    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 3px;
      background-color: $c-theme;

      .anim & {
        width: 75%;

        @include breakpoint($b-tab-desk) {
          width: 65%;
        }
      }
    }
    
    &-txt {
      display: inline-block;
      padding: 10px 0;
      background-color: $c-complement;
      width: 100%;
      font-size: 4vw;

      @include breakpoint($b-tab-desk) {
        padding: 10px 0;
        width: 30vw;
        font-size: 1.2vw;
      }

    }



    .highlight {
      display: block;
      font-size: 2em;
      color: $c-theme;
    }
  }

  &__sub {
    padding:5px 0 20px;
  }

  .letter {
    display: inline-block;
    position: relative;
    opacity: 0;
    transition: transform .3s, opacity .3s;

    @for $i from 0 through 30 {
      &--#{$i} {
        transform: translate3d(0,0,0) translateY(#{$i*2}px);
        transition-delay: .1 * $i +s;

        .anim & {
          opacity: 1;
          transform: translate3d(0,0,0) translateY(0);
        }
      }
    }

    &.empty {
      width: 10px;
    }





  }


}





