.header {
  &__padding {
    padding-top: 70px;

    @include breakpoint($b-desk){
      padding-top: 100px;
    }
  }
  &__menu {
    background-color: $c-complement;
    position: fixed;
    top: 0;
    z-index: 11;
    width: 100%;
    border-bottom: 1px solid $c-texte;
    text-align: center;

    &__container {
      width: 100%;
      max-width: 990px;
      margin: 0 auto;
    }

    &__navbar {
      position: relative;
      padding: 5px 0;

      &__logo {
        width: 94px;
        display: block;
        margin: 0 auto;

        @include breakpoint($b-desk) {
          width: 140px;
          margin: 11px 0;
          float: left;
        }
      }

      &__hamburger {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5%;

        &,
        &:before,
        &:after {
          height: 4px;
          width: 22px;
          background-color: $c-texte;
          display: block;
          border-radius: 5px;
          transition: all 0.3s ease;
          z-index: 2;
        }

        &:before,
        &:after {
          content: "";
          position: absolute;
        }

        &:before {
          transform: translateY(-7px);
        }

        &:after {
          transform: translateY(7px)
        }

        &.active {
          background-color: transparent;

          &:before {
            transform: translateY(0) rotateZ(45deg);
          }

          &:after {
            transform: translateY(0) rotateZ(-45deg);
          }
        }
      }
    }

    &__menu {
      @extend %shadow;
      display: none;
      position: fixed;
      top: 0;
      overflow: hidden;
      background-color: $c-complement;
      width: 100%;
      text-align: left;
      color: #8d8d8d;

      ul {
        padding: 10px 0 10px 60px;

        @include breakpoint($b-desk) {
          display: inline-block;
          float: right;
        }
      }

      @include breakpoint($b-desk) {
        box-shadow: none;
        border-bottom: 2px solid $c-texte;
        padding: 0 20px;

        &__item {
          display: inline-block;
          text-align: right;

          & + & {
            margin-left: 20px;
          }
        }
      }

      &__link {
        display: block;
        font-family: $t-title;
        font-size: rem(22px);
        text-transform: uppercase;
        line-height: rem(50px);

        @include breakpoint($b-desk) {
          font-size: rem(16px);
        }

        &--exit {
          color: $c-theme;
        }
      }

      @include breakpoint($b-desk) {
        display: block;

        .marketing {
          display: none;
        }
      }
    }
    &__back-to-vp {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      z-index: 4;

      @include breakpoint($b-desk) {
        display: block;
      }
    }
  }
}
