.footer {
  background-color: $c-dark;
  color: $c-complement;
  text-align: center;
  font-size: rem(9px);
  padding: 0 0 10vw;

  @media screen and (min-width: 640px) {
    font-size: rem(12px);
    padding-bottom: 4vw;
  }

  &__wrapper {
    margin: 0 0 35px 0;
    padding-top: 6vw;

    @media screen and (min-width: 640px) {
      padding-top: 2vw;
    }
  }

  &__logo {
    display: inline-block;
    vertical-align: middle;

    &--brand {
      vertical-align: bottom;
    }
  }

  &__mentions {
    margin-bottom: 30px;
  }

  .airfrance {
    font-size: 12vw;
    color: $c-complement;
    margin-right: 2vw;

    @media screen and (min-width: 640px) {
      font-size: 4vw;
    }
  }
}

.carterose {
  position: relative;
  display: inline-block;
  min-width: 15vw;

  .icon {
    font-size: 12vw;
    color: $c-complement;

    @media screen and (min-width: 640px) {
      font-size: 5vw;
    }

    &.icon-carte-rose-footer-2,
    &.icon-carte-rose-footer-3 {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &.icon-carte-rose-footer-2 {
      color: $c-vp;
    }
  }
}

.icon-logo-brand {

}

.icon-logo-brand-1,
.icon-logo-brand-2 {
  font-size: 14vw;

  @media screen and (min-width: 640px) {
    font-size: 6vw;
  }
}

.icon-logo-brand {
  position: relative;
  font-size: 8vw;
  color: $c-complement;

  @media screen and (min-width: 640px) {
    font-size: 3vw;
  }
}

.icon-logo-brand-1 {
  position: relative;
  color: $c-gold;
}

.icon-logo-brand-2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: $c-complement;
}



