$inputH: 45px;
$checkboxH: 25px;

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px $c-input;
  -webkit-text-fill-color: $c-texte !important;
}

.form {
  position: relative;
  font-family: $t-text;
  padding: 5vw 0 20vw;
  margin: 5vw auto;
  background-color: $c-complement;

  @include breakpoint($b-tab-desk) {
    padding-bottom: 0;
    text-align: center;
  }

  .asterisk {
    display: inline-block;
    margin: 0 2px;
  }

  &__inner {
    position: relative;
    opacity: 1;
    transition: all 1s;

    &.off {
      opacity: 0;
      height: 300px;
    }
  }

  &__result {
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: 50%;
    //width: 100%; // PROVOQUE UN SCROLL HORIZONTAL EN MOBILE
    text-align: center;
    transform: translateY(-50%);
    transition: all 1s;
    text-transform: uppercase;


    &.on {
      opacity: 1;
      z-index: 0;
      transform: translateY(-50%);
    }
  }

  &__fieldset {
    padding-left: 3vw;
    padding-right: 3vw;

    @include breakpoint($b-tab-desk) {
      padding-left: 0;
      padding-right: 0;
    }

    &--profile {

      @include breakpoint($b-tab-desk) {
        margin-top: 3vw;
      }

      body[data-project-status="accepted"] & {
        margin-top: 45vh;

        @include breakpoint($b-tab-desk) {
          margin-top: 0;
        }
      }
    }

  }

  &__field {
    margin: 3vw auto;

    @include breakpoint($b-tab-desk) {
      margin: 1vw auto;
      max-width: 400px;
    }

    @include breakpoint($b-xlarge) {
      margin: 1vw auto;
    }

    &--check,
    &--radio {
      position: relative;
      text-align: left;
      //margin: 0;
      margin-top: 0;
      margin-bottom: 0;

      @include breakpoint($b-xlarge) {
        margin: 1vw auto 0;
      }

      .form__label {
        position: relative;
        padding-right: 5vw;

        #tow & {
          transform: translateY(0);
        }
      }
    }

    &--textarea {
      @include breakpoint($b-tab-desk) {
        margin: 0 auto;
      }
    }

    &--submit {
      text-align: center;
      margin-bottom: 2vw;
    }
  }

  &__inputwrap {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 16px;

    /*&.error,
    &.error--empty,
    &.error--special {
      &::before {
        content: '*';
        float: left;
        margin-left: -8px;
        color: $c-error;
        font-size: 16px;

      }
    }*/

    &--text {
      display: inline-block;
      height: $inputH;
      line-height: $inputH;
      background-color: $c-input;
      border-radius: $inputH/2;

      &.focus {
        //background-color: $c-theme;
      }

      &.error,
      &.error--empty,
      &.error--special {
        background-color: $c-error;
      }
    }

    &--check {
      width: 100%;
      position: relative;
      min-height: 10vw;

      @include breakpoint($b-tab-desk) {
        min-height: 5vw;
      }

      @include breakpoint($b-desk) {
        min-height: 4vw;
      }

      @include breakpoint($b-xlarge) {
        min-height: 3vw;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
        width: $checkboxH;
        height: $checkboxH;
        line-height: $checkboxH;
        border: 2px solid $c-texte;
      }

      &.checked::after {
        content: '\e90f';
        font-family: 'icomoon';
        display: block;
        position: absolute;
        top: 3px;
        left: 1px;
        width: $checkboxH;
        height: $checkboxH;
        line-height: $checkboxH;
        color: $c-theme;
        font-size: 1.4em;
      }

      &.error {
        .form__label {
          color: $c-error;
        }

      }

    }

    &--radio {
      width: 100%;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: $checkboxH;
        height: $checkboxH;
        line-height: $checkboxH;
        border: 2px solid $c-texte;
        border-radius: 50%;
      }
    }



    &--textarea {
      margin: 6vw 0 0;
      min-height: 30vw;
      background-color: $c-texte;
      text-align: left;

      @include breakpoint($b-tab-desk) {
        margin: 2vw 0;
        min-height: 10vw;
      }

      @include breakpoint($b-xlarge) {
        margin: 2vw 0 0;
      }
    }



    &--submit {
      margin-top: 10vw;
      background-color: $c-submit;
      border-color: $c-submit;
      width: 100%;

      @include breakpoint($b-tab-desk) {
        margin-top: 3vw;
        width: auto;
      }

      .form__input--submit {
        border-color: $c-submit;
        padding: 0 35px;
      }
    }
  }

  &__input {
    background: none;

    &:not(&--submit) {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-height: 30px;
      -webkit-appearance: none;
      border: 0;
      padding: 0 20px;
      //visibility: hidden;

      .focus & {
        //color: $c-theme;
      }

      .error &,
      .error--empty &,
      .error--special & {
        color: $c-texte;
      }
    }

    &--textarea {
      padding: 10px;
    }

    &--submit {
      width: 100%;
      margin: 10px auto;
      border-color: $c-texte;
      color: $c-complement;
    }

    &--checkbox,
    &--radio {
      opacity:0;
    }
  }

  &__label {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate3d(0, 0, 0) translateY(-50%);
    left: 20px;
    pointer-events: none;
    color: $c-texte;
    transition: all .3s;

    .form__inputwrap--textarea & {
      padding: 10px;
      color: $c-theme;
      top: 0;
      transform: translate3d(0, 0, 0) translateY(0%);
    }

    .form__inputwrap--textarea.focus & {
      padding-left: 0;
    }

    .focus & {
      transform: translate3d(0, 0, 0) translateY(-120%);
      font-size: 10px;
      color: $c-texte;
    }

    .form__inputwrap--check.focus & {
      font-size: inherit;
    }

    .error &,
    .error--empty &,
    .error--special & {
      color: $c-texte;


    }

    .form__inputwrap--check &,
    .form__inputwrap--radio & {
      display: inline-block;
      width: 80%;
      margin-left: $checkboxH;
      transform: translate3d(0, 0, 0) translateY(0%);

      @include breakpoint($b-desk) {
        width: 100%;
      }
    }
  }
}