.intro {
  position: relative;
  height: vw(560px); // iPhone 5/5S compatible fallback
  height: calc(var(--vh, 1vh) * 100); // Real 100% height
  background: $c-theme2 url('../img/intro.jpg') calc(50% + 1px) 0% no-repeat;
  background-size: 175vh;
  //overflow: hidden;
  transition: background 1s;

  @include breakpoint($b-mob-med) {
    background-size: 175vh;
  }

  @include breakpoint($b-tab-desk) {
    height: calc(var(--vh, 1vh) * 70); // Real 100% height
    margin: 0 100px;
    background-position: 50% 80%;
    background-size: calc( 120% - 50px );

    @media screen and(orientation: portrait) {
      margin: 0 50px;
      background-size: calc( 210% - 50px );
    }

    .ie & {
      height: 40vw;
      min-height: 40vw;
      background-size: calc( 110% - 50px );
    }
  }

  @include breakpoint($b-large) {
    background-size: calc( 100% - 50px );
    background-position: 50% 85%;
  }

  &.anim {
    background-size: 110vh;

    @include breakpoint($b-mob-med) {
      background-size: 125vh;

      .mobile.ios & {
        background-size: 120vh;
      }
    }

    @include breakpoint($b-tab-desk) {
      background-size: calc( 120% - 50px );

      @media screen and(orientation: portrait) {
        background-size: calc( 210% - 50px );
      }
    }

    @include breakpoint($b-large) {
      background-size: calc( 100% - 50px );
    }

    .ie & {
      height: 40vw;
      min-height: 40vw;
      background-size: calc( 110% - 50px );
    }
  }

  &__title {
    &-txt {
      position: relative;

      color: transparent;
      font-weight: normal;

      &::before {
        content: '\e910';
        display :block;
        padding: 70px;
        font-family: 'icomoon';
        font-size: 6vw;
        color: $c-logo;

        @include breakpoint($b-tab-desk) {
          padding: 30px;
          font-size: 3vw;

          @media screen and(orientation: portrait) {
            font-size: 5vw;
          }
        }

        @include breakpoint($b-xlarge) {

          font-size: 40px;
        }
      }
    }
  }

  &__promo {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate3d(0,0,0) translateY(20vw) translateX(-50%) perspective(400px) rotateX(-45deg);
    opacity: 0;
    width: 100vw;
    background-color: rgba(240,230,214, .8);
    transition: transform 1s, opacity 1s;

    @include breakpoint($b-mob-med) {

    }

    @include breakpoint($b-tab-desk) {
      bottom: -10vw;
      width: 30vw;
      background-color: rgba(255, 255, 255, 0.5);

      .ie & {
        //bottom: 10vw;
      }
    }

    &.anim {
      opacity: 1;
      transform: translate3d(0,0,0) translateY(0) translateX(-50%) perspective(900px) rotateX(0deg);
    }

    &-head {
      max-width: 70vw;
      padding: 10px 0;
      margin: 0 auto;
      background-color: $c-theme;
      color: $c-complement;
      text-transform: uppercase;

      @include breakpoint($b-tab-desk) {
        max-width: 100%;
      }
    }

    &-title {
      line-height: 1;
      font-size: 4vw;

      @include breakpoint($b-tab-desk) {
        font-size: 1.5vw;
      }
    }

    &-content {
      padding: 20px 0;
      font-size: 4vw;

      @include breakpoint($b-tab-desk) {
        font-size: 1vw;
      }
    }

    &-intro {
      padding: 0 0 5px;
      text-transform: uppercase;

      @include breakpoint($b-tab-desk) {
        font-weight: bold;
        font-size: 1.3vw;
      }
    }

    &-txt {
      font-family: $t-title;
      color: $c-theme;
      background-color: $c-complement;

      &::before,
      &::after {
        &::before,
        &::after {
          .anim & {
            @include breakpoint($b-tab-desk) {
              width: 71%;
            }
          }

        }
      }

      &.anim {

      }

      .highlight {
        display: block;
        font-size: 2em;
        color: $c-theme;
      }

      .titlearea__title-txt {
        padding: 10px 0;
      }
    }

    &-stories {
      padding:5px 0 20px;
    }

    &-story {
      position: relative;
      text-align: center;

      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 1px;
        background-color: $c-dark;
        transform-origin: 50% 50%;
        transition: width .5s, opacity .8s;


      }

      &:hover {
        opacity: .7;

        &::after {
          width: 0;
        }
      }
    }
  }
}