.rooms,
.collec {


  &__slider {
    @include breakpoint($b-tab-desk) {
      margin: 30px 0;
    }
  }

  &__slide {
    position: relative;
    margin: 0 2vw;
    height: vw(260px); // iPhone 5/5S compatible fallback
    height: calc(var(--vh, 1vh) * 50); // Real 100% height
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    @include breakpoint($b-tab-desk) {
      height: 20vw; // Real 100% height
      margin: 0;
    }

    &--1 {
      @include breakpoint($b-tab-desk) {
        left: -20px;
      }
    }

    &--3 {
      @include breakpoint($b-tab-desk) {
        left: 20px;
      }
    }

    &-title {
      position: absolute;
      z-index: 1;
      right: 100%;
      top: 50%;
      transform: translate3d(0,0,0) translateX(10%) translateY(-50%);
      white-space: nowrap;
      font-family: $t-title;
      color: $c-complement;
      font-size: 10vw;
      opacity: .7;

      @include breakpoint($b-tab-desk) {
        font-size: 3vw;
      }
    }
  }

  &__link {
    display: block;
    position: absolute;
    z-index: 1;
    left: 0,;
    top: 0;
    width: 100%;
    height: 100%;

    &::before {

    }
  }

  &__cta {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate3d(0,0,0) translateX(-50%) translateY(200%);
    transition: all 1s cubic-bezier(.75,-0.5,0,1.75);

    @for $i from 1 through 4 {
      &--#{$i} {
        transition-delay: .3 * $i +s;
      }
    }

    .anim & {
      transform: translate3d(0,0,0) translateX(-50%) translateY(0%);
    }
  }
}

.rooms {
  padding-top: 30px;
  @include mainPadding;

  @include breakpoint($b-tab-desk) {
    margin-top: 10vw;
  }

  &__link {
    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(to top, rgba(0,0,0, .6) 0%, transparent 100%);
    }
  }



  &__living {
    position: relative;
    height: 40vw;
    background: url('../img/room-4.jpg') center center no-repeat;
    background-size: 130%;
    text-align: right;
    margin-bottom: 100px;

    @include breakpoint($b-tab-desk) {
      height: auto;
      margin-bottom: 30px;
      background-size: cover;
    }

    &-content {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate3d(0,0,0) translateX(-50%);
      display: inline-block;
      width: 75%;
      text-align: center;
      background-color: rgba(255,255,255, .8);
      box-shadow: 0 0 20px rgba(0,0,0, .2);

      @include breakpoint($b-tab-desk) {
        position: static;
        width: 50%;
        transform: none;
        box-shadow: none;
      }
    }

    &-txt {
      margin: 15px 0;

      @include breakpoint($b-tab-desk) {
        margin: 30px 0;
      }
    }

    &-cta {
      margin-bottom: 15px;

      @include breakpoint($b-tab-desk) {
        margin-bottom: 30px;
      }
    }
  }
}

.collec {
  padding-bottom: 30px;

  &__slider {
    @include mainPadding;
  }

  &__slide {
    &--1 {
      @include breakpoint($b-tab-desk) {
        left: -20px;
      }
    }

    &--2 {
      @include breakpoint($b-tab-desk) {
        background-position: 50% -30%;
      }
    }

    &--3 {
      @include breakpoint($b-tab-desk) {
        left: 20px;
      }
    }
  }

  &__buttons {
    @include mainPadding;

    &-col {
      display: none;
      position: relative;
      text-align: center;

      @include breakpoint($b-tab-desk) {
        display: inline-block;
        width: 32%;
      }

      &--0 {
        @include breakpoint($b-tab-desk) {
          left: -20px;
        }
      }

      &--2 {
        @include breakpoint($b-tab-desk) {
          left: 20px;
        }
      }

      &.on {
        display: inline-block;
      }
    }
  }

  &__cta {

    &.btn {
      display: none;
    }
  }
}