.scrollInfo {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    background: $c-theme2;
    z-index: z('top');

    &__percent {
        height: 2px;
        width: 0;
        background: $c-theme;
    }
}