.vid {

  .video {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
  }

  .playbutton {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/poster.jpg') center center no-repeat;
    background-size: cover;
    opacity: 1;
    //transform: translate3d(0,0,0) translate(0, 0);
    //transition: transform 1s;

    transition: opacity .1s;

    .is-playing & {

    }
  }

  &.is-playing {
    .playbutton {
      pointer-events: none;
      opacity: 0;
      //transform: translate3d(0,0,0) translate(0, 58.25vw);

      @include breakpoint($b-tab-desk) {
        //transform: translate3d(0,0,0) translate(0, 380px);
      }
    }
  }

  iframe {
    width: 100%;
    max-height: 56.25vw;

    @include breakpoint($b-tab-desk) {
      max-height: 360px;
    }

  }

  &__txt {
    margin: 30px 0;
    padding: 0 20px;
    text-align: left;
    @include mainPadding;
  }
}

.mentions {
  background-color: $c-complement;
  font-size: 12px;
  padding: 30px 20px;

  @include mainPadding;

  &__txt {
    text-align: left;
  }
}