@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?okbnf5');
  src:  url('fonts/icomoon.eot?okbnf5#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?okbnf5') format('truetype'),
  url('fonts/icomoon.woff?okbnf5') format('woff'),
  url('fonts/icomoon.svg?okbnf5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e909";
}
.icon-share:before {
  content: "\e933";
}
.icon-play:before {
  content: "\e90d";
}
.icon-star:before {
  content: "\e932";
}
.icon-place:before {
  content: "\e924";
}
.icon-profile:before {
  content: "\e923";
}
.icon-tendre:before {
  content: "\e92c";
}
.icon-euro:before {
  content: "\e922";
}
.icon-switch-bg:before {
  content: "\e92a";
}
.icon-switch-handle:before {
  content: "\e92b";
}
.icon-checked-bis:before {
  content: "\e91e";
}
.icon-checked:before {
  content: "\e921";
}
.icon-close:before {
  content: "\e90f";
}
.icon-arrow-basic:before {
  content: "\e907";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-down:before {
  content: "\e915";
}
.icon-left:before {
  content: "\e916";
}
.icon-right:before {
  content: "\e917";
}
.icon-up:before {
  content: "\e918";
}
.icon-logo-vp:before {
  content: "\e90a";
}
.icon-vp-butterfly:before {
  content: "\e901";
}
.icon-vp:before {
  content: "\e902";
}
.icon-carte-rose-1:before {
  content: "\e903";
}
.icon-vp-logo:before {
  content: "\e904";
}
.icon-carte-rose-2:before {
  content: "\e905";
}
.icon-carte-rose-3:before {
  content: "\e906";
}
.icon-carte-rose-footer-1:before {
  content: "\e90b";
}
.icon-carte-rose-footer-2:before {
  content: "\e90c";
}
.icon-carte-rose-footer-3:before {
  content: "\e90e";
}
.icon-carte-rose-avantage-1:before {
  content: "\e930";
}
.icon-carte-rose-avantage-2:before {
  content: "\e931";
}
.icon-logo-brand:before {
  content: "\e910";
}
