<!DOCTYPE html>
<html class="no-js" lang="{{ lang }}">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css">
    {% include "../layout/meta.html.twig", with {'theme': config.theme, 'structure': config.structure} %}
</head>
<body class="bypassed">

TEST.HTML

<span class="lang" data-lang="{{ lang }}"></span>
{% include "../layout/script.html.twig" %}
</body>
</html>
