////
/// @group breakpoints
////

/// convertion de breakpoint px en em
/// @param {px} width
/// @example
///  $b-desk: b-em(1000);
@function b-em($value-px) {
  $value-em: $value-px / 16;

  @return $value-em*1em;
}

/// breakpoint desktop xx large
$b-xxxxlarge: b-em(2400);

/// breakpoint desktop xx large
$b-xxxlarge: b-em(2200);

/// breakpoint desktop xx large
$b-xxlarge: b-em(1900);

/// breakpoint desktop extra-large
$b-xlarge: b-em(1600);

/// breakpoint desktop large
$b-large: b-em(1200);

/// breakpoint desktop
$b-desk: b-em(1024);

/// breakpoint tablette
$b-tab: b-em(640) b-em(1023);

/// breakpoint mobile
$b-mob: b-em(0) b-em(640);

/// breakpoint mobile small
$b-mob-s: b-em(0) b-em(320);

/// breakpoint mobile large
$b-mob-l: b-em(321) b-em(640);

$b-mob-med: b-em(321);

$b-tab-desk: b-em(640);
