$c-theme: #1e4b5f;
$c-theme2: #f0e3cd;
$c-dark: #141e28;
$c-complement: #fff;
$c-texte: #000;
$c-gold: #bba36b;
$c-vp: #ec008c;
$c-input: #f2f2f2;
$c-submit: #000;
$c-error: #ef7178;
$c-logo: #2d3714;

$c-facebook: #3b5998;
$c-twitter: #75bcf2;

