////
/// @group Typos
////

@font-face {
  font-family: 'Alineale Sans Book';
  src: url('fonts/AlinealeSansBold.eot');
  src: url('fonts/AlinealeSansBold.eot?#iefix') format('embedded-opentype'),
  url('fonts/AlinealeSansBold.woff2') format('woff2'),
  url('fonts/AlinealeSansBold.woff') format('woff'),
  url('fonts/AlinealeSansBold.ttf') format('truetype'),
  url('fonts/AlinealeSansBold.svg#AlinealeSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Alineale Sans Book';
  src: url('fonts/AlinealeSansBook.eot');
  src: url('fonts/AlinealeSansBook.eot?#iefix') format('embedded-opentype'),
  url('fonts/AlinealeSansBook.woff2') format('woff2'),
  url('fonts/AlinealeSansBook.woff') format('woff'),
  url('fonts/AlinealeSansBook.ttf') format('truetype'),
  url('fonts/AlinealeSansBook.svg#AlinealeSansBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alineale Inline';
  src: url('fonts/AlinealeInlineRegular.eot');
  src: url('fonts/AlinealeInlineRegular.eot?#iefix') format('embedded-opentype'),
  url('fonts/AlinealeInlineRegular.woff2') format('woff2'),
  url('fonts/AlinealeInlineRegular.woff') format('woff'),
  url('fonts/AlinealeInlineRegular.ttf') format('truetype'),
  url('fonts/AlinealeInlineRegular.svg#AlinealeInlineRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alineale Inline';
  src: url('fonts/AlinealeInlineBold.eot');
  src: url('fonts/AlinealeInlineBold.eot?#iefix') format('embedded-opentype'),
  url('fonts/AlinealeInlineBold.woff2') format('woff2'),
  url('fonts/AlinealeInlineBold.woff') format('woff'),
  url('fonts/AlinealeInlineBold.ttf') format('truetype'),
  url('fonts/AlinealeInlineBold.svg#AlinealeInlineBold') format('svg');
  font-weight: bold;
  font-style: normal;
}





/// typo de titrage
$t-title: 'Alineale Inline', Arial, Helvetica, sans-serif;
/// typo de texte secondaire
$t-text: 'Alineale Sans Book', Arial, Helvetica, sans-serif;
/// taille par defaut du texte (10px)
$t-size-base: 62.5%;

$guss-rem-baseline: 16px !default;

@function rem($value, $baseline: $guss-rem-baseline) {
  @if $value == 0 {
    @return 0; // 0rem -> 0
  }

  @if type-of($value) == list {
    $result: ();

    @each $e in $value {
      $result: append($result, rem($e, $baseline));
    }

    @return $result;
  } @else {
    @return if(type-of($value) == number and unit($value) == px, $value / $baseline * 1rem, $value);
  }
}

@mixin rem($properties, $lheight) {
  @each $property, $value in $properties {
    @if (type-of($value) == number and $value != 0) {
      // Turn unitless values into pixels
      $value: if(unitless($value), $value * 1px, $value);
    }

    #{$property}: $value;
    #{$property}: rem($value);
  }
}

// Permet de convertir une taille px => vw
@function vw($value, $baseline: $guss-rem-baseline) {
  @if $value == 0 {
    @return 0; // 0rem -> 0
  }

  @if type-of($value) == list {
    $result: ();

    @each $e in $value {
      $result: append($result, rem($e, $baseline));
    }

    @return $result;
  } @else {
    @return if(type-of($value) == number and unit($value) == px, $value / $baseline * 5vw, $value);
  }
}

/// declaration de la taille de typo ET de l'interlignage
/// @param {absolute} $font-size - Taille de la police
/// @param {px|em} $line-heigt - valeur de l'interligne
/// @example
/// .link {
///   @include fonts(18, 24px);
/// }
/// @example
/// .link {
///   @include fonts(12, 1.4em);
/// }
@mixin fonts($font-size, $line-height) {
  @include rem((font-size: $font-size));
  line-height: $line-height;
}
